.emptySection {
  color: black;
  height: 200px;
  background: #f1f3ff;
}

.marginEmpty:hover {
  color: black;
}

.backToDetail:hover {
  color: black;
}

@media (min-width: 992px) {
  .marginEmpty {
    margin-top: 8%;
  }
}

@media (max-width: 992px) {
  .marginEmpty {
    margin-top: 12%;
  }
}

@media (max-width: 767px) {
  .marginEmpty {
    margin-top: 22%;
  }
}

@media (max-width: 290px) {
  .marginEmpty {
    margin-top: 32%;
  }
}

@media (min-width: 768px) {
  .marginBox2 {
    margin-left: 25%;
  }
}

@media (max-width: 300px) {
  .miniPhone {
    display: block;
  }
}
