.containerBottom {
  margin-bottom: 50px;
  margin-top: -20px;
}

.cardBox {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.btnCard {
  justify-content: center;
  text-align: center;
  padding: 8px 15px;
  border-radius: 2px;
  border: hidden;
  display: unset;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  background: #5cb85f;
  color: #fff;
}

.btnCard:hover {
  background: #409b43;
  color: #ffffff;
}
