.ourServices {
  margin-top: 100px;
}

.servicesBody {
  margin-bottom: 10px;
}

.iconBox {
  float: left;
  margin-right: 12px;
}

.value {
  line-height: 28px;
  font-weight: 300;
}

.itemCheck {
  margin-bottom: 10px;
}

@media (max-width: 992px) {
  .illustrationServices {
    margin-bottom: 2rem;
  }
}
