.containerGallery {
  width: 100%;
}
.containerImage {
  margin-top: 60px;
}
.imageGalery {
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardGalleryImage {
  object-fit: cover;
  border-radius: 5px;
  width: 100%;
}
