/* .containerGallery {
  width: 100%;
} */

.containerImage {
  margin-top: 60px;
}

.cardGallery {
  border: none;
  cursor: pointer;
}

.cardGalleryImage {
  object-fit: cover;
  border-radius: 5px;
  width: 100%;
}
