@import "./Accordion.css";

* {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 36px;
  line-height: 50px;
  font-weight: 600;
}

h2 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  margin: 0;
  padding: 0;
}

.button-carousel {
  height: 32px;
  line-height: 28px;
  width: 32px;
  font-size: 22px;
  font-weight: 600;
  border-radius: 50%;
  background-color: white;
  border: 1px solid #c4c4c4;
  color: #000000;
  text-align: center;
  cursor: pointer;
}

.button-carousel:hover {
  background-color: #4caf50;
  color: white;
  border-color: #4caf50;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
  background-color: white !important;
}

.accordion-item .accordion-header button.accordion-button::after {
  background-color: white;
  color: #000000;
}

.accordion-button:focus {
  border-color: white;
  box-shadow: none;
}

.accordion-flush .accordion-item .accordion-button,
.accordion-flush .accordion-item .accordion-button.collapsed {
  border-radius: 0;
}

.accordion-button:not(.collapsed) {
  color: black;
  background-color: white;
}
